/* navigation */
#navbar{
    flex-direction: column;
}

/* home */
#home{
    height: 350px;
    padding: 5px 90px;
}
#home::before{
    height: 480px;
}
#home p{
    font-size: 15px;
}
/* services */
#services{
    flex-direction: column;
}

/* clients */
#clients{
    overflow: hidden;
}

/* contact
 */

 /* utility */
 .h-primary{
    font-size: 25px;
 }